# Virtual environment
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Uploads dan static files
uploads/
static/
output.mp4

# YOLO model file
*.pt

# Logs and misc
*.log
pyvenv.cfg
